*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 90%;
    height: 70vh;
    border: 1px solid grey;
    border-radius: 15px;
    margin: 80px auto;
    background: rgb(98, 131, 192);
}
a{
    text-decoration: none;
    color: black;
}

/* =====================
        LOGO            
===================== */
header{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
}
figure{
    display: flex;
    align-items: center;
}
figure figcaption{
    font-size: 20px;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    padding-left: 8px;

}
figure a img{
    width: 30px;
    height: 30px;
}
nav a{
    padding-right: 30px;
    font-size: 1.2rem;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.btn1{
    width: 90px;
    height: 30px;
    font-size: 1.2rem;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(36, 90, 137);
    border-radius: 10px;

}
section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(98, 131, 192);
    padding: 0% 5%;
    border-radius: 15px;


}
section div{
    width: 50%;
    height: 60vh;
    /* border: 1px solid ; */
    border-radius: 15px;
    padding-top: 8%;
    
}
section div .p1 {
    font-size: 4rem;
    font-weight:bold;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
section div .p2{
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

    padding-top: 4%;
}
section img{
    width: 40%;
}
section div .btn2{
    width: 18%;
    height: 10%;
    margin-top: 5%;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: blue;
    border: 1px solid black;
    border-radius: 10px;
}
section div .btn2 a{
    color: white;
}
section div .btn2:hover{
    background-color: darkblue;
    cursor: pointer;
}
# ramesh chandra mahakud



